name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9"]
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
        pip install -r source/cython_example/requirements.txt
        pip install -r source/numba_example/requirements.txt
    - name: Analysing the code with pylint
      working-directory: source
      run: |
        # run pylint on all python files in the projects dir
        pylint -d=import-error --disable=duplicate-code --fail-under=9.75 $(git ls-files '*.py')
